################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetDroidUtils/.vs/DotNetDroidUtils/v15/.suo
/DotNetDroidUtils/bin/
/DotNetDroidUtils/obj/
